<div class="row">
	<h2>プロフィール編集</h2>
</div>

<%= form_for(@user) do |f| %>
	<!-- エラーメッセージ表示-->
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3><%= @user.errors.count %>件のエラーが発生しました。</h3>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>ß
		</div>
	<% end %>

	<div class="row">
		<div class="col-xs-6">
			<table>
				<thead>
					<tr>
						<th>公開情報</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= f.label :name, "名前" %></td>
						<td><%= f.text_field :name, class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :introduction, "自己紹介" %></td>
						<td><%= f.text_area :introduction, class: "form-control", placeholder: '50文字以内で入力してください。' %></td>
					</tr>
					<tr>
						<td><%= f.label :profile_image, "プロフィール画像" %></td>
						<td><%= f.attachment_field :profile_image %></td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<th>非公開情報</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= f.label :uid, "ユーザーID" %></td>
						<td><%= f.text_field :uid, class: "form-control" %></td>
					</tr>
					<tr>
						<td><%= f.label :email, "メールアドレス" %></td>
						<td><%= f.text_field :email, class: "form-control" %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="actions">
			<%= f.submit "編集内容を保存する", class: "btn btn-default" %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-9">
			<span>退会を希望する方は、</span><%= link_to "こちら", unsubscribe_user_path(@user.id) %><span>から</span>
		</div>
	</div>

<% end %>
