<div class="container">
	<div class="row">
		<h2 class="text-center">フォロワー</h2>
	</div>

	<% if @followers.count > 0 %>
			<% @followers.each do |follower| %>
				<div class="relationship-list">
					<div class="row">
						<div class="col-xs-offset-3 col-xs-3">
							<%= link_to user_path(follower), class: "user_#{follower.id}" do %>
								<%= attachment_image_tag(follower, :profile_image, size: "50x50", fallback: "no_image.png", style: "border-radius: 50%;", class: " relationship-profile-image") %>
							<% end %>

							<%= link_to user_path(follower), class: "user_#{follower.id} relationship-name" do %>
								<%= follower.name %>
							<% end %>
						</div>
						<div class="col-xs-offset-1 col-xs-5">
							<% if follower.id != current_user.id %>
								<span id='follow-button_<%= @user.id %>'>
									<!-- 「remote: true」を付与する事で、JavaScriptファイルを呼び出せる様になる。 -->
									<% if current_user.following?(follower) %>
										<%= link_to "フォロー中", user_relationships_path(follower), data: {"turbolinks" => false}, method: :delete, class: 'btn btn-success unfollow-btn col-xs-4', remote: true %>
									<% else %>
										<%= link_to "フォローする", user_relationships_path(follower), data: {"turbolinks" => false}, method: :post, class: 'btn btn-primary follow-btn col-xs-4', remote: true %>
									<% end %>
								</span>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
	<% else %>
		<div class="row">
			<h3 class="text-center">ユーザーはいません</h3>
		</div>
	<% end %>
</div>