<div class="container">
	<div class="row">
		<h2 class="text-center col-xs-12">フォロー中</h2>
	</div>

	<% if @followings.count > 0 %>
			<% @followings.each do |following| %>
				<div class="relationship-list">
					<div class="row">
						<div class="col-sm-offset-3 col-sm-3 following">
							<%= link_to user_path(following), class: "user_#{following.id}" do %>
								<%= attachment_image_tag(following, :profile_image, size: "50x50", fallback: "no_image.png", style: "border-radius: 50%;", class: " relationship-profile-image") %>
							<% end %>

							<%= link_to user_path(following), class: "user_#{following.id} relationship-name" do %>
								<%= following.name %>
							<% end %>
						</div>
						<div class="col-sm-offset-1 col-sm-5 following">
							<% if following.id != current_user.id %>
								<span id='follow-button_<%= @user.id %>'>
									<!-- 「remote: true」を付与する事で、JavaScriptファイルを呼び出せる様になる。 -->
									<% if current_user.following?(following) %>
										<%= link_to "フォロー中", user_relationships_path(following), data: {"turbolinks" => false}, method: :delete, class: 'btn btn-success unfollow-btn col-sm-4', remote: true %>
									<% else %>
										<%= link_to "フォローする", user_relationships_path(following), data: {"turbolinks" => false}, method: :post, class: 'btn btn-primary follow-btn col-sm-4', remote: true %>
									<% end %>
								</span>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
	<% else %>
		<div class="row">
			<h3 class="text-center">ユーザーはいません</h3>
		</div>
	<% end %>
</div>