<div class="row">
	<h2 class="text-center">フォロー中</h2>
</div>

<% if @followings.count > 0 %>
		<% @followings.each do |following| %>
			<div class="relationship-list">
				<div class="row">
					<div class="col-xs-offset-3 col-xs-3">
						<%= link_to user_path(following), class: "user_#{following.id}" do %>
							<%= attachment_image_tag(following, :profile_image, size: "50x50", fallback: "no_image.png", style: "border-radius: 50%;", class: " relationship-profile-image") %>
						<% end %>

						<%= link_to user_path(following), class: "user_#{following.id} relationship-name" do %>
							<%= following.name %>
						<% end %>
					</div>
					<div class="col-xs-offset-1 col-xs-5">
						<% if following.id != current_user.id %>
							<span id='follow-button_<%= @user.id %>'>
								<!-- 「remote: true」を付与する事で、JavaScriptファイルを呼び出せる様になる。 -->
								<% if current_user.following?(following) %>
									<%= link_to "フォロー中", user_relationships_path(following), data: {"turbolinks" => false}, method: :delete, class: 'btn btn-info unfollow-btn', remote: true %>
								<% else %>
									<%= link_to "フォローする", user_relationships_path(following), data: {"turbolinks" => false}, method: :post, class: 'btn btn-primary follow-btn', remote: true %>
								<% end %>
							</span>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
<% else %>
	<div class="row">
		<div class="text-center">
			<h3>ユーザーはいません</h3>
		</div>
<% end %>