<!DOCTYPE html>
<html>
  <head>
    <title>Sampo Log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <p id="notice" class="col-xs-12 text-center"><%= notice %></p>
      <main>
          <%= yield %>
      </main>

      <footer>
        <p>© 2020 Sampo Log</p>
      </footer>
    </div>

    <!-- アニメーションスクリプト「AOS」 -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
  </body>
</html>
