<div class="row">
  <!-- 画像 -->
  <div class="col-xs-offset-8">
    <h2>Sampo Log（ロゴ）</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインを記憶する" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Sampo Logとは？</h2>
  <p class="text-center">
    日々の散歩やウォーキングを簡単に記録できるサイトです。 <br>
    運動が苦手な方も、無理なく続けることができます。
  </p>
</div>

<div class="row">
  <div class="col-xs-4">
    <!-- 画像 -->
    <p class="text-center">
      その日歩いた距離、体調、天気、 <br>
      景色など、あなたが記録したいことを <br>
      自由に記録することができます。
    </p>
  </div>
   <div class="col-xs-4">
    <!-- 画像 -->
    <p class="text-center">
      ユーザーIDで家族や仲間を検索し、 <br>
      フォローできます。 <br>
      さらに、ランキングによって <br>
      モチベーションを維持できます。
    </p>
  </div>
   <div class="col-xs-4">
    <!-- 画像 -->
    <p class="text-center">
      カレンダーを見れば、その日の歩数を <br>
      簡単に把握することができます。 <br>
      歩数を入力するだけで簡単に <br>
      健康管理できます
    </p>
  </div>
</div>

<div class="row">
  <h2 class="text-center">歩く習慣を楽しく身につけることができます</h2>
</div>

<div class="row">
  <div class="col-xs-4">
    <p>
      新規登録ですぐに利用できます。 <br>
      退会も簡単にできるので、 <br>
      まずは気軽に始めてみませんか？
    </p>
    <button>
      <%= link_to "いますぐ新規登録", new_user_registration_path %>
    </button>
  </div>
  <!-- 画像 -->
</div>