<div class="col-xs-offset-3">
	<% if post.errors.any? %>
		<div class="alert alert-danger col-xs-8">
			<%= post.errors.count %>件のエラーが発生しました
			<% post.errors.full_messages.each do |message| %>
				<ul>
					<li><%= message %></li>
				</ul>
			<% end %>
		</div>
	<% end %>

	<div class="row">
		<div class="col-xs-8">
			<%= f.text_field :title, placeholder: 'タイトル', class: "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<%= f.text_area :body, placeholder: 'その日の散歩・ウォーキングの内容や感想など', class: "form-control", rows:"8" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<%= f.text_field :steps, placeholder: '歩数', class: "form-control" %>
		</div>
		<div class="col-xs-1">
			 <p class="steps">歩</p>
		</div>
	</div>
	<div class="row">
		<%= f.attachment_field :image, class: "col-xs-6" %>
	</div>
</div>