<div class="row">
	<h2 class="text-center"><%= @post.title %></h2>
</div>

<div class="row">
	<div class="col-xs-5">
		<%= attachment_image_tag @post, :image, size: "450x450", fallback: "no_image.png" %> <br>
	</div>
	<div class="col-xs-7">
		<p class="post-show-body"><%= @post.body %></p>
	</div>
</div>

<div class="row">
	<div class="col-xs-2">
		<div class="post-show-steps text-center">
			<span>歩数：</span><%= @post.steps %><span>歩</span>
		</div>
	</div>
	<% if @post.user == current_user %>
		<div class="col-xs-offset-9">
			<div class="text-center">
				<%= link_to "編集する", edit_post_path(@post), class: "glyphicon glyphicon-edit btn btn-default edit_post_#{@post.id}" %>
				<%= link_to "削除する", post_path(@post), method: :delete, class: "glyphicon glyphicon-trash btn btn-danger trash-btn" %>
			</div>
		</div>
	<% end %>

	<div class="col-xs-offset-9 text-right">
		<%= render 'favorite-button', post: @post %>
		<%= @post.favorites.count%><span>人が「いいね」しました</span>
	</div>
</div>