<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <%= link_to root_path do %>
        <img src="<%= asset_path 'logo_silhouette.jpg' %>" alt="Logo" style="height: 75px;">
        <img src="<%= asset_path 'logo.png' %>" alt="Logo" style="height: 75px;">
      <% end %>
    </nav>

    <nav class="nav navbar-nav navbar-right">
      <div class="menu">
         <ul class="list-group list-group-horizontal">
             <% if user_signed_in? %>
              <li><span class="material-icons">account_circle</span><%= link_to 'マイページ',user_path(current_user) %></li>
              <li><span class="material-icons">add_photo_alternate</span><%= link_to '投稿する',new_post_path(current_user) %></li>
              <li><span class="material-icons">view_module</span><%= link_to '投稿一覧',posts_path %></li>
              <li><span class="material-icons">exit_to_app</span><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><span class="material-icons">how_to_reg</span><%= link_to '無料会員登録', new_user_registration_path,class: 'sign_up' %></li>
              <li><span class="material-icons">login</span><%= link_to 'ログイン', new_user_session_path ,class: 'sign_in'%></li>
            <% end %>
        </ul>
      </div>

      <!-- ハンバーガーメニュー -->
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <% if user_signed_in? %>
      <div class="search" >
        <%= form_tag(search_path, method: :get) do %>
          <%= text_field_tag 'search[content]', "", placeholder: 'ユーザーIDを入力' %>
          <%= button_tag type: 'submit' do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>